{
  "$schema": "https://app.kilo.ai/config.json",
  "permission": {
    "bash": {
      "git diff *": "allow",
      "git log *": "allow",
      "git branch *": "allow",
      "head *": "allow",
      "echo *": "allow",
      "ls *": "allow",
      "find *": "allow",
      "grep *": "allow",
      "git status *": "allow",
      "git -c *": "allow",
      "git ls-files *": "allow",
      "go env *": "allow",
      "command *": "allow",
      "gum *": "allow"
    },
    "external_directory": {
      "{{ .chezmoi.homeDir }}/go/pkg/mod/charm.land/bubbles/v2@v2.1.0/viewport/*": "allow",
      "{{ .chezmoi.homeDir }}/go/pkg/mod/charm.land/bubbletea/v2@v2.0.2/*": "allow",
      "{{ .chezmoi.homeDir }}/.config/herdr/*": "allow",
      "{{ .chezmoi.homeDir }}/*": "allow"
    }
  },
  "mcp": {
    "ctx7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp"
    }
  }
}
