[user]
	name = resulal
	email = ahmetresulal@gmail.com
[color]
	ui = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[core]
	excludesfile = /Users/resulal/.gitignore_global
